[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vairamuthu-shanmugaraj
[access "refs/for/refs/*"]
	read = group user/vairamuthu-shanmugaraj
	push = group user/vairamuthu-shanmugaraj
	label-Code-Review = -2..+2 group user/vairamuthu-shanmugaraj
	label-Verified = -1..+1 group user/vairamuthu-shanmugaraj
	rebase = group user/vairamuthu-shanmugaraj
	removeReviewer = group user/vairamuthu-shanmugaraj
	submit = group user/vairamuthu-shanmugaraj
[access "refs/heads/*"]
	read = group user/vairamuthu-shanmugaraj
	create = group user/vairamuthu-shanmugaraj
	push = +force group user/vairamuthu-shanmugaraj
	pushMerge = group user/vairamuthu-shanmugaraj
[access "refs/tags/*"]
	push = group user/vairamuthu-shanmugaraj
	push = +force group user/vairamuthu-shanmugaraj
